#Java/Maven
target/
*.class
*.jar
*.war
*.ear
*.ctxt
.mtj.tmp/

#Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

#IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/
cmake-build-*/

#VS Code
.vscode/
bin/
*.code-workspace

#Docker
*.log
.docker/

#Sistema Operacional
.DS_Store
.DS_Store?
._*
Thumbs.db
desktop.ini

#Frontend
node_modules/
dist/
.env.local
.env.development.local
.env.test.local
.env.production.local